#chessboard{
  display: grid;
  grid-template-columns: repeat(8,100px);
  grid-template-rows: repeat(8,100px);
 width: 800px;
 height: 800px;
 background-color: #090a06;
}
.board-white-box{
  background-color: #d6c5c5;
}
.board-black-box{
  background-color: #319128;
}

.possibleWays{
  background-color: rgb(113, 15, 170);
}